<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xsi:schemaLocation="http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.3.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">

	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver" />
	<context:component-scan
		base-package="com.had.hotelmanagement" />

	<!-- interceptor -->

	<mvc:interceptors>
		<mvc:interceptor>
	     	<mvc:mapping path="/index"/>
			<mvc:mapping path="/list-role"/>
			<mvc:mapping path="/list-account"/>
			<mvc:mapping path="/room-list"/>
			<mvc:mapping path="/room-save"/>
			<mvc:mapping path="/room-update//*"/>
			<mvc:mapping path="/save-role"/>
			<mvc:mapping path="/update-role//*"/>
			<mvc:mapping path="/save-account"/>
			<mvc:mapping path="/update-account//*"/>
			<mvc:mapping path="/customer-list"/>
			<mvc:mapping path="/customer-save"/>
			<mvc:mapping path="/customer-update//*"/>
			<mvc:mapping path="/employee-list"/>
			<mvc:mapping path="/employee-save"/>
			<mvc:mapping path="/employee-update//*"/>
			<mvc:mapping path="/roomstatus-list"/>
			<mvc:mapping path="/roomstatus-save"/>
			<mvc:mapping path="/roomstatus-update//*"/>
			<mvc:mapping path="/roomtype-list"/>
			<mvc:mapping path="/roomtype-save"/>
			<mvc:mapping path="/roomtype-update//*"/>
			<mvc:mapping path="/paymenttype-list"/>
			<mvc:mapping path="/paymenttype-save"/>
			<mvc:mapping path="/paymenttype-update//*"/>
			<mvc:mapping path="/payment-list"/>
			<mvc:mapping path="/payment-save"/>
			<mvc:mapping path="/payment-update//*"/>
			<mvc:mapping path="/reservation-list"/>
			<mvc:mapping path="/reservation-save"/>
			<mvc:mapping path="/reservation-update//*"/>
			<mvc:mapping path="/reception-list"/>
			<mvc:mapping path="/reception-save"/>
			<mvc:mapping path="/reception-update//*"/>
			<mvc:mapping path="/service-list"/>
			<mvc:mapping path="/service-save"/>
			<mvc:mapping path="/service-update//*"/>
			<mvc:exclude-mapping path="/login"/>
			<bean class="com.had.hotelmanagement.Interceptor.LoggerInterceptor" />
		</mvc:interceptor>
	</mvc:interceptors>




	<mvc:resources mapping="/resources/**"
		location="/resources/" />

	<mvc:annotation-driven />
	<context:annotation-config />
	<mvc:resources mapping="/css/**" location="/css/" />
	<mvc:resources mapping="/image/**"
		location="src/main/webapp/resources/image/" />


	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix">
			<value>/WEB-INF/views/jsp/</value>
		</property>
		<property name="suffix">
			<value>.jsp</value>
		</property>
	</bean>

	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location">
			<value>/resources/jdbc.properties</value>
		</property>
	</bean>

	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName"
			value="${jdbc.driverClassName}" />
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
	</bean>

	<bean id="jdbcTemplate"
		class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource"></property>
	</bean>

	<!-- Enable Annotation based Declarative Transaction Management -->
	<tx:annotation-driven proxy-target-class="true"
		transaction-manager="transactionManager" />

	<!-- Creating TransactionManager Bean, since JDBC we are creating of type 
		DataSourceTransactionManager -->
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>


</beans>